/* здесь используйте глобальные переменные */
$primary-font: "Oswald", sans-serif;
$secondary-font: "Lato", sans-serif;

/*
Colors
*/
$primary-text-color: #000000;
$secondary-text-color: #111111;

$basic-white: #ffffff;
$basic-green: #68b738;
$basic-grey: #f2f2f2;

$secondary-grey: #eaeaea;
$special-dark-grey: #444444;
