/* здесь используйте глобальные переменные */
$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Lato', sans-serif;

/*
Colors
*/
$primary-text-color: #000000;
$secondary-text-color: #111111;

$basic-white: #FFFFFF;
$basic-green: #68B738;
$basic-grey: #F2F2F2;

$secondary-grey: #EAEAEA;
$special-dark-grey: #444444;
