.add-card {
  background-color: #fff;

  &__heading {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: $special-dark-grey-2;
  }

  &__list {
    margin: 0;
  }

  &__term {
    font-family: $secondary-font;
    font-size: 14px;
    line-height: 14px;
    color: $special-dark-grey;
  }

  &__definition {
    margin: 0;
    font-family: $secondary-font;
    font-size: 14px;
    line-height: 14px;
    color: $special-dark-grey;
  }
}
