.add-card__head {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
  }

  @media (min-width: $desktop) {
    gap: 164px;
    max-height: 20px;
    align-items: baseline;
  }
}


.add-card__heading {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    min-width: 162px;
    margin-bottom: 0;
  }
}

.add-card__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet) {
    justify-content: initial;
    align-items: center;
    gap: 49px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.add-card__term {
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $special-dark-grey;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.add-card__definition {
  margin: 0;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: $special-dark-grey;
}

.add-card__button {
  @media (min-width: $desktop) {
    width: 214px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
