.add-more__heading {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $secondary-text-color;
}

.add-more__slogan {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
}
