.advertisement__list {
  @include clear-list;

  @media (min-width: $desktop) {
    display: flex;
    gap: 80px;
  }
}

.advertisement__item {
  padding-top: 24px;
  padding-bottom: 22px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: $basic-grey;

  @media (min-width: $tablet) {
    padding-top: 77px;
    padding-left: 52px;
    padding-right: 63px;
    padding-bottom: 53px;
  }

  @media (min-width: $desktop) {
    width: 50%;
    padding-top: 47px;
    padding-left: 52px;
    padding-right: 61px;
    padding-bottom: 59px;
  }
}

.advertisement__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.advertisement__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $tablet) {
    max-width: 340px;
  }

  @media (min-width: $desktop) {
    max-width: 457px;
  }
}

.advertisement__heading {
  margin: 0;
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $primary-text-color;

  @media (min-width: $tablet) {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 73px;
    padding-left: 162px;
  }
}


.advertisement__description {
  margin: 0;
  margin-bottom: 38px;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  @media (min-width: $tablet) {
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 27px;
  }
}
