.button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 63px;
  padding-right: 63px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-white;
  background-color: $basic-green;
  border: none;

  &:hover {
    background-color: $basic-green-2;
  }

  &:focus,
  &:active {
    color: $rgba-white;
  }

  &--small {
    display: none;
  }

  &--show-all {
    width: 153px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: $special-dark-grey;
    background-color: $basic-grey;

    &:hover {
      background-color: $special-grey-2;
    }

    &:focus,
    &:active {
      background-color: $special-grey-2;
      opacity: 0.9;
    }

    @media (min-width: $desktop) {
      width: 95px;
      padding-left: 40px;
      padding-right: 34px;
    }
  }

  @media (min-width: $tablet) {
    &--small {
      display: block;
      max-width: 204px;
      padding: 14px 18px;
      font-size: 20px;
      line-height: 26px;
    }
  }

  @media (min-width: $desktop) {
    // width: 95px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 34px;
  }
}
