.button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 63px;
  padding-right: 63px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-white;
  background-color: $basic-green;

  &--small {
    display: none;
  }

  &--show-all {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $special-dark-grey;
    background-color: $basic-grey;
  }

  @media (min-width: $tablet) {
    &--small {
      display: block;
      max-width: 204px;
      padding: 14px 18px;
      font-size: 20px;
      line-height: 26px;
    }
  }
}
