.cards {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 140px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
    row-gap: 143px;
  }
}

.cards__item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $special-grey-2;
  border-bottom: 1px solid $special-grey-2;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $tablet) {
      max-width: initial;
      margin: 0;
      padding: 0;
    }
  }

  @media (min-width: $tablet) {
    border: none;
    background-color: $basic-grey;
  }
}

.cards__item:not(:last-child) {
  padding-bottom: 25px;

  @media (min-width: $tablet) {
    padding-bottom: 40px;
  }
}
