.carousel {
  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-grey;
  }

  @media (min-width: $desktop) {
    background: none;
  }
}

.carousel__image {
  @media (min-width: $tablet) {
    margin-top: -150px;
  }
}
