.carousel {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet) {
    background-color: $secondary-grey;
  }

  @media (min-width: $desktop) {
    background: none;
  }
}

.carousel__image {
  display: block;
  width: 280px;
  height: 256px;

  @media (min-width: $tablet) {
    position: relative;
    width: 560px;
    height: 502px;
    margin-top: -150px;
  }
}
