.complementary-goods-list {
  background-color: $basic-white;
}

.complementary-goods-list__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid $special-grey;
  border-bottom: 1px solid $special-grey;

  @media (min-width: $tablet) {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 38px;
    padding-right: 38px;
    border-left: 1px solid $special-grey;
    border-right: 1px solid $special-grey;
  }
}
