.complementary-goods-list {
  background-color: tomato;
}

.complementary-goods-list__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid $special-grey;
  border-bottom: 1px solid $special-grey;
}
