.contacts-data {
  padding-bottom: 24px;

  @media (min-width: $tablet) {
    padding-bottom: 15px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 68px;
  }
}

.contacts-data__col {
  @media (min-width: $desktop) {
    display: flex;
    gap: 80px;
  }
}

.contacts-data__legend {
  display: block;
  margin-top: 26px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $primary-text-color;

  @media (min-width: $tablet) {
    margin-top: 17px;
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }
}

.contacts-data__legend br {
  @media (min-width: $tablet) {
    display: none;
  }
}

.contacts-data__wrapper {
  display: flex;
  align-items: center;
  gap: 13px;
  min-height: 45px;

  @media (min-width: $tablet) {
    min-height: 52px;
  }

  @media (min-width: $desktop) {
    width: 570px;
  }
}

.contacts-data__wrapper:not(:last-child) {
  margin-bottom: 13px;

  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}
