.contacts__col-text {
  display: flex;
  padding-top: 26px;
  padding-bottom: 26px;
}

.contacts__heading {
  width: 50%;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $secondary-text-color;
}

.contacts__address {
  width: 50%;
  font-style: normal;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: $special-dark-grey;
}
