.contacts {
  &--allternative {
    background-color: $basic-grey;
  }

  @media (min-width: $desktop) {
    position: relative;
  }
}

.contacts__container {
  display: flex;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet) {
    justify-content: space-between;
    padding-top: 61px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    max-width: 565px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: $basic-white;
    transform: translate(20%, 47%);
    box-sizing: border-box;
  }
}

.contacts__container.container {
  @media (min-width: $tablet) {
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: $desktop) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.contacts__heading {
  width: 50%;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $secondary-text-color;

  @media (min-width: $tablet) {
    width: 37%;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop) {
    width: 45%;
  }
}

.contacts__address {
  width: 50%;
  font-style: normal;
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $special-dark-grey;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 16px;
    text-align: end;
  }

  @media (min-width: $desktop) {
    width: 40%;
  }
}

.contacts__city {
  @media (min-width: $tablet) {
    margin-top: auto;
  }
}

.contacts__map {
  text-align: center;
  background-color: $basic-grey;

  img {
    display: block;
    width: 100%;
  }
}
