.contacts {
  &--allternative {
    background-color: $basic-grey;
  }
}

.contacts__col-text {
  display: flex;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet) {
    justify-content: space-between;
    padding-top: 61px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 39%;
    left: 125px;
    background-color: $basic-white;
    transform: translateY(-50%);
    justify-content: initial;
    gap: 87px;
  }
}

.contacts__col-text.container {
  @media (min-width: $desktop) {
    max-width: 565px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.contacts__heading {
  width: 50%;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $secondary-text-color;

  @media (min-width: $tablet) {
    width: 26%;
    padding-left: 40px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop) {
    width: 22%;
  }
}

.contacts__address {
  width: 50%;
  font-style: normal;
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $special-dark-grey;

  @media (min-width: $tablet) {
    width: 30%;
  }

  @media (min-width: $desktop) {
    width: 22%;
  }
}

.contacts__col-map {
  text-align: center;
  background-color: $basic-grey;
}
