.example-stats__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 50%;

  @media (min-width: $tablet) {
    width: auto;
    gap: 11px;
    min-width: 162px;
  }
}

.example-stats__term {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $primary-text-color;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example-stats__definition {
  max-width: 77px;
  margin: 0;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $special-dark-grey;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 14px;
  }
}
