.example-stats__col {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
  min-height: 41px;
  padding-top: 12px;
  border: 1px solid $special-grey;
  border-radius: 8px;

  @media (min-width: $tablet) {
    min-width: 160px;
    min-height: 57px;
    border-radius: 0;
  }

  @media (min-width: $desktop) {
    width: 160px;
    min-width: initial;
  }
}

.example-stats__term {
  max-height: 24px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $primary-text-color;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example-stats__term span {
  text-transform: uppercase;
}

.example-stats__definition {
  position: absolute;
  bottom: -16px;
  left: 50%;
  max-width: 77px;
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $special-dark-grey;
  background-color: $secondary-grey;
  transform: translateX(-50%);

  @media (min-width: $tablet) {
    bottom: -7px;
    max-width: 100%;
    width: 135px;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    line-height: 14px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop) {
    background-color: $basic-grey;
  }
}
