.footer {
  background-color: $basic-grey;

  @media (min-width: $desktop) {
    position: relative;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  min-width: 280px;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-footer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet) {
    min-width: initial;
    padding-bottom: 0;
    border: none;
  }
}

.footer__socials {
  min-width: 280px;
  padding-bottom: 20px;

  @media (min-width: $tablet) {
    min-width: initial;
    padding-bottom: 0;
  }
}

.footer__bottom {
  background-color: $basic-grey;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet) {
    gap: 0;
    justify-content: space-between;
    flex-direction: initial;
    padding-top: 56px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop) {
    padding-top: 68px;
    padding-bottom: 68px;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
  gap: 140px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: $special-dark-grey;

  &:hover,
  &:focus {
    svg path {
      fill: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;

    .footer__image path {
      fill: $basic-green;
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet) {
    gap: 23px;
  }
}
