.form-content__wrapper {
  margin-bottom: 24px;

  @media (min-width: $desktop) {
    display: flex;
    gap: 80px;
  }
}

.form-content__wrapper.container {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop) {
    max-width: 1220px;
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.form-content__field {
  padding: 0;
  border: none;
  outline: none;

  @media (min-width: $tablet) {
    margin-bottom: 65px;
  }
}

.form-content__field-wrapper {
  border-top: 1px solid $border-footer;
  border-bottom: 1px solid $border-footer;

  @media (min-width: $tablet) {
    border: none;
  }
}

.form-content__field.parameters {
  @media (min-width: $desktop) {
    width: 541px;
  }
}

.form-content__field.programm {
  @media (min-width: $desktop) {
    width: 541px;
  }
}

.form-content__legend {
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $primary-text-color;
}

.form-content__button {
  width: 100%;
  margin-bottom: 16px;

  @media (min-width: $tablet) {
    max-width: 284px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    max-width: 570px;
  }
}

.form-content__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    flex-direction: row;
    gap: 60px;
  }

  @media (min-width: $desktop) {
    gap: 80px;
  }
}

.form-content__slogan {
  margin: 0;
}

.form-content__slogan small {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: $primary-text-color;

  @media (min-width: $tablet) {
    font-size: 16px;
  }
}
