.form {
  background-color: #fff;
}

.form__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  color: $primary-text-color;
}

.form__slogan {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $primary-text-color;
}
