.gift {
  background-image: url("../../images/complementary-goods-bg@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gift__slogan {
  margin: 0;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  background-color: $rgba-green;
}
