.how-it-work {
  padding-bottom: 49px;

  @media (min-width: $tablet) {
    padding-bottom: 64px;
    border-bottom: 2px solid $border-input-1;
  }

  @media (min-width: $desktop) {
    padding-bottom: 0;
    border: none;
  }
}

.how-it-work__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  color: $primary-text-color;

  @media (min-width: $tablet) {
    margin-bottom: 8px;
    font-size: 60px;
    line-height: 64px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 72px;
  }
}

.how-it-work__list {
  @include clear-list;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, minmax(230px, 250px));
    grid-template-rows: auto auto;
    column-gap: 133px;
    row-gap: 37px;
    padding-left: 0;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, minmax(230px, 250px));
    grid-template-rows: auto;
    column-gap: 77px;
  }
}

.how-it-work__item {
  display: flex;
  gap: 20px;

  @media (min-width: $tablet) {
    flex-direction: column;
    gap: 0;
    min-width: 230px;
    min-height: 280px;

    &--leaf {
      position: relative;
    }

    &--leaf::before {
      position: absolute;
      content: "1";
      top: 17px;
      right: 26px;
      font-size: 280px;
      font-weight: 400;
      line-height: 280px;
      color: $basic-grey;
    }

    &--powder {
      position: relative;
    }

    &--powder::before {
      position: absolute;
      content: "2";
      top: 17px;
      right: -1px;
      font-size: 280px;
      font-weight: 400;
      line-height: 280px;
      color: $basic-grey;
    }

    &--meal {
      position: relative;
    }

    &--meal::before {
      position: absolute;
      content: "3";
      top: 17px;
      right: 3px;
      font-size: 280px;
      font-weight: 400;
      line-height: 280px;
      color: $basic-grey;
    }

    &--time {
      position: relative;
    }

    &--time::before {
      position: absolute;
      content: "4";
      top: 17px;
      right: -1px;
      font-size: 280px;
      font-weight: 400;
      line-height: 280px;
      color: $basic-grey;
    }
  }
}

.how-it-work__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.how-it-work__block {
  width: 60px;
  height: 60px;
  background-color: $basic-green;

  &--leaf {
    background-image: url("../../images/leaf.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--powder {
    background-image: url("../../images/leaf.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--meal {
    background-image: url("../../images/eat.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--time {
    background-image: url("../../images/eat.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet) {
    width: 80px;
    height: 80px;
    margin-top: 57px;
    margin-bottom: 32px;
  }
}

.how-it-work__text {
  max-width: 195px;
  margin: 0;
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $special-dark-grey;

  @media (min-width: $tablet) {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
