.how-it-work {
  padding-bottom: 49px;

  @media (min-width: $tablet) {
    border-bottom: 2px solid $border-input-1;
  }

  @media (min-width: $desktop) {
    border: none;
    padding-bottom: 0;
  }
}

.how-it-work__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  color: $primary-text-color;

  @media (min-width: $tablet) {
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 64px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 72px;
  }
}

.how-it-work__list {
  @include clear-list;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, minmax(230px, 250px));
    grid-template-rows: auto auto;
    column-gap: 153px;
    row-gap: 37px;
    padding-left: 0;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, minmax(230px, 250px));
    grid-template-rows: auto;
    column-gap: 77px;
  }
}

.how-it-work__list-item {
  display: flex;
  gap: 20px;

  @media (min-width: $tablet) {
    flex-direction: column;
    gap: 31px;
  }
}

.how-it-work__list-item:not(:last-child) {
  margin-bottom: 26px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.how-it-work__block {
  width: 60px;
  height: 60px;
  background-color: $basic-green;

  &--leaf {
    background-image: url("../../images/leaf.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--powder {
    background-image: url("../../images/leaf.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--meal {
    background-image: url("../../images/eat.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--time {
    background-image: url("../../images/eat.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.how-it-work__text {
  max-width: 195px;
  margin: 0;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
}
