.logo {
  display: flex;
  align-items: center;
  gap: 56px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__slogan {
  @media (min-width: $tablet) {
    display: none;
  }
}
