.main-header {
  position: relative;
  display: flex;
  padding-top: 15px;
  padding-bottom: 12px;
  background-color: $basic-white;

  &--second {
    padding-bottom: 12px;
    border-bottom: 1px solid $border-footer;

    @media (min-width: $tablet) {
      border: none;
    }
  }

  @media (min-width: $tablet) {
    padding-top: 32px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop) {
    z-index: -14;
    padding-top: 61px;
    background-color: transparent;
  }
}

.main-header__container {
  display: flex;
  align-items: center;
  max-height: 38px;

  @media (min-width: $tablet) {
    max-height: 50px;
  }

  @media (min-width: $desktop) {
    max-height: 59px;
  }
}

.main-header__logo {
  @media (min-width: $tablet) {
    max-width: 174px;
    max-height: 50px;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
  }
}

.main-header__nav {
  max-height: 24px;
  margin-left: 65px;

  @media (min-width: $tablet) {
    margin-left: 94px;
  }

  @media (min-width: $desktop) {
    margin-top: 6px;
    margin-left: 563px;
  }
}
