.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  color: $primary-text-color;
}

.page__promo {
  margin-bottom: 20px;

  @media (min-width: $desktop) {
    margin-bottom: 82px;
  }
}

.page__advertisement {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 45px;
  }
}

.page__how-it-work {
  min-height: 380px;

  @media (min-width: $desktop) {
    min-height: 329px;
  }
}

// .page__example {
//   // @media (min-width: $desktop) {
//   //   margin-top: -45px;
//   // }
// }
