.parameters {
  padding-bottom: 24px;

  @media (min-width: $desktop) {
    flex: 1;
    padding-bottom: 52px;
  }
}

.parameters__wrapper {
  display: flex;
  align-items: center;
  gap: 11px;
  min-height: 45px;

  @media (min-width: $tablet) {
    gap: 18px;
    min-height: 52px;
  }
}

.parameters__wrapper:not(:last-child) {
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    margin-bottom: 18px;
  }
}
