.programm {
  padding-top: 22px;
  padding-bottom: 17px;

  @media (min-width: $tablet) {
    padding-top: 23px;
    padding-bottom: 27px;
    border: 1px solid $border-input;
  }
}

.programm__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  min-height: 30px;
  padding-left: 45px;

  @media (min-width: $tablet) {
    min-height: 40px;
    padding-left: 86px;
  }
}

.programm__label {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -40px;
    width: 30px;
    height: 30px;
    border: 1px solid $special-grey;
    border-radius: 30px;
  }
}

.programm__checkbox {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 13px;
    height: 13px;
    background-color: $basic-green;
  }
}

.programm__wrapper:not(:last-child) {
  margin-bottom: 13px;
}
