.site-navigation {
  display: flex;
}

.site-navigation--closed .site-navigation__list {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
  }
}

.site-navigation--opened .site-navigation__list {
  position: absolute;
  z-index: 1000;
  bottom: -217px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  min-height: 210px;
  text-align: center;
  background-color: $basic-white;
  border-top: 2px solid $border-input-1;
  border-bottom: 2px solid $border-input-1;

  @media (min-width: $tablet) {
    display: none;
  }
}

.site-navigation__toggle {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  background-image: url("../../images/burger.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet) {
    display: none;
  }
}

.site-navigation--opened .site-navigation__toggle {
  background-image: url("../../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.site-navigation__list {
  @include clear-list;
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    gap: 33px;
  }
}

.site-navigation__item {
  &--current {
    @media (min-width: $tablet) {
      padding-bottom: 10px;
      border-bottom: 2px solid $basic-green;
    }
  }
}

.site-navigation--opened .site-navigation__item {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;

  &:not(:last-child) {
    border-bottom: 2px solid $border-input-1;
  }
}

.site-navigation__link {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $primary-text-color;
  text-decoration: none;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: $primary-text-color;
  }

  &:hover {
    @media (min-width: $tablet) {
      opacity: 0.6;
    }
  }

  &:focus {
    @media (min-width: $tablet) {
      opacity: 0.6;
    }
  }

  &:active {
    @media (min-width: $tablet) {
      opacity: 0.3;
    }
  }
}
