.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  @include clear-list;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-footer;

  @media (min-width: $tablet) {
    border: none;
    padding-bottom: 0;
  }

  @media (min-width: $desktop) {
    padding-left: 33px;
  }
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 22px;

  &:hover,
  &:focus {
    svg path {
      fill: $basic-green;
    }
  }

  &:active {
    svg path {
      fill: $basic-green;
      opacity: 0.3;
    }
  }
}
